
.light-mode {
    background-color: #d7d7d7;
    color: #000000;
}

.dark-mode {
    background-color: #0f0d1d;
    color: #ffffff;
}

#app {
    transition: background-color 0.3s ease;
    min-height: 100vh;
}